* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

html,
body {
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* home page */
.home {
}
.home-page-picture {
  background-image: url("./assest/home-page.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  overflow: scroll;
  width: 100%;
  height: 100vh;
}

.workshop {
  height: 50vh;
  line-height: 50vh;
  text-align: center;
}

.about-us {
  height: 50vh;
  line-height: 50vh;
  text-align: center;
}

.contact-us {
  height: 50vh;
  line-height: 50vh;
  text-align: center;
}
/* Services page */
.services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  padding-top: 18vh;
}
.service-card {
  border-radius: 4px;
  box-shadow: 0 0 10px #243a4d;
  margin: 0px 30px 0 30px;
  padding: 0px 0px 15px 0px;
  width: 25%;
  background-color: white;
  min-height: 450px;
}
.service-card header {
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  background: #243a4d;
  color: white;
}
.service-card p {
  margin: 25px 15px 25px 15px;
  text-align: justify;
  line-height: 1.5rem;
}

.pop-up-button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/*Login page*/
.user-form-card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  padding-top: 18vh;
}
.user-form {
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 25px 10px;
  box-shadow: 0 0 15px rgb(80, 79, 79);
}
.form-user {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.title-user {
  margin-bottom: 15px;
}
.input-user {
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin: 10px;
  padding-left: 10px;
  font-size: 18px;
  color: black;
  background-color: rgb(230, 230, 230);
}
.btns-user {
  margin: 15px auto;
}
.button-user {
  background-color: rgb(48, 48, 48);
  color: white;
  border: none;
  padding: 8px 30px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  margin: 5px 25px;
}
.button-user:hover {
  background-color: #d96903;
  color: white;
  transition: all 0.2s ease-out;
}

.a-user {
  text-decoration: none;
  color: #1888ff;
}

.a-user:hover {
  text-decoration: underline;
}

@media screen and (max-width: 960px) {
  .service-card {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin: 20px;
    min-height: fit-content;
  }
  .services {
    padding-top: 3vh;
  }
}
