* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.home {
  height: 50vh;
  line-height: 50vh;
  text-align: center;
}

.workshop {
  height: 50vh;
  line-height: 50vh;
  text-align: center;
}

.about-us {
  height: 50vh;
  line-height: 50vh;
  text-align: center;
}

.contact-us {
  height: 50vh;
  line-height: 50vh;
  text-align: center;
}

.services {
  height: 50vh;
  line-height: 50vh;
  text-align: center;
}

.log-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20vh;
}

.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20vh;
}
