.dropdown-menu {
  width: 150px;
  position: absolute;
  right: 30px;
  list-style: none;
  text-align: start;
  text-align: center;
  z-index: 2;
}

.dropdown-menu li {
  background: white;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0 0 10px rgb(80, 79, 79);
}

.dropdown-menu li:hover {
  background: #d96903;
  border-radius: 4px;
  color: white;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: black;
  padding: 16px;
  border-radius: 4px;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}
